///---------- font

$fontsize:15px;
$fontfamily:iranyekan;


///---------- color

$white:#ffffff;
$black:#000000;



$gray100:#626262;
$gray200:#D6D6D6;
$gray300:#707070;
$border:#F2F2F2;

$green100:#2CBE26;

$red100:#E03F3F;
$red200:#D55F5F;

$bluelight100:#EEF1F3;
$bluelight200:#F2F2F2;
$bluelight300:#D6D6D6;
$bluelight400:#F5F8FB;

$blue100:#3190FF;


